<h2>Products</h2>
<div class="container mt-4">

    <button mat-raised-button color="primary" (click)="openProductModal()"
        style="float:right; margin:0px 50px 20px 0px;">
        Add Product
    </button>

    <div *ngIf="loading" class="alert alert-info">Chargement...</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <table mat-table [dataSource]="products" class="mat-elevation-z8" style="width:80%; margin:auto;">

        <!-- ID -->
        <ng-container matColumnDef="productID">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let p">{{p.productID}}</td>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let p">{{p.name}}</td>
        </ng-container>

        <!-- Product Number -->
        <ng-container matColumnDef="productNumber">
            <th mat-header-cell *matHeaderCellDef>Number</th>
            <td mat-cell *matCellDef="let p">{{p.productNumber}}</td>
        </ng-container>

        <!-- Standard Cost -->
        <ng-container matColumnDef="standardCost">
            <th mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let p">{{p.standardCost}}</td>
        </ng-container>

        <!-- List Price -->
        <ng-container matColumnDef="listPrice">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let p">{{p.listPrice}}</td>
        </ng-container>

        <!-- Start Date -->
        <ng-container matColumnDef="sellStartDate">
            <th mat-header-cell *matHeaderCellDef>Start Date</th>
            <td mat-cell *matCellDef="let p">{{p.sellStartDate | date}}</td>
        </ng-container>

        <ng-container matColumnDef="subcategoryName">
            <th mat-header-cell *matHeaderCellDef>Subcategory</th>
            <td mat-cell *matCellDef="let p">{{ p.subcategory?.name }}</td>
        </ng-container>

        <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let p">{{ p.category?.name }}</td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let p">
                <button mat-icon-button color="accent" (click)="editProduct(p.productID)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteProduct(p.productID)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>