<!-- Layout principal (affiché seulement si on NE se trouve PAS sur /login) -->
<div *ngIf="!isLoginPage()" class="layout-container">
  <mat-sidenav-container>

    <!-- --- SIDENAV --- -->
    <mat-sidenav #drawer fixedInViewport="true" mode="side" [opened]="false" class="sidenav">

      <mat-toolbar color="primary" class="sidenav-header">
        <mat-icon>store</mat-icon>
        <span>AdventureWorks</span>
      </mat-toolbar>

      <mat-nav-list>

        <a mat-list-item routerLink="/dashboard">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>

        <a mat-list-item routerLink="/categories">
          <mat-icon matListItemIcon>category</mat-icon>
          <span>Categories</span>
        </a>
        
        <a mat-list-item routerLink="/subcategories">
          <mat-icon matListItemIcon>category</mat-icon>
          <span>Sub Categories</span>
        </a>

        <a mat-list-item routerLink="/products">
          <mat-icon matListItemIcon>inventory</mat-icon>
          <span>Products</span>
        </a>

        <!-- <a mat-list-item routerLink="/member">
          <mat-icon matListItemIcon>supervised_user_circle</mat-icon>
          <span>Members</span>
        </a>

        <a mat-list-item routerLink="/tools">
          <mat-icon matListItemIcon>settings</mat-icon>
          <span>Tools</span>
        </a>

        <a mat-list-item routerLink="/articles">
          <mat-icon matListItemIcon>article</mat-icon>
          <span>Articles</span>
        </a>

        <a mat-list-item routerLink="/events">
          <mat-icon matListItemIcon>event_note</mat-icon>
          <span>Events</span>
        </a> -->

      </mat-nav-list>

    </mat-sidenav>
    <!-- --- END SIDENAV --- -->


    <!-- --- MAIN CONTENT --- -->
    <mat-sidenav-content>

      <!-- TOP TOOLBAR -->
      <mat-toolbar color="primary" class="top-toolbar">

        <button mat-icon-button (click)="drawer.toggle()" class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>

        <span class="toolbar-spacer"></span>

        <!-- User Menu -->
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
          <mat-icon>account_circle</mat-icon>
          <mat-icon class="arrow">keyboard_arrow_down</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="profil()">
            <mat-icon>account_box</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

      </mat-toolbar>

      <!-- PAGE CONTENT -->
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- --- LOGIN PAGE --- -->
<div *ngIf="isLoginPage()" class="login-content">
  <router-outlet></router-outlet>
</div>
