<h2 id="category-modal-title" mat-dialog-title>
  {{ isEditMode ? 'Edit Category' : 'Add Category' }}
</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field style="width:100%">
    <mat-label>Category Name</mat-label>
    <input
      id="category-name-input"
      matInput
      formControlName="name">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button id="cancel-category-btn" mat-button mat-dialog-close>
    Cancel
  </button>

  <button
    id="save-category-btn"
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="saveCategory()">
    Save
  </button>
</mat-dialog-actions>